// This code is simply here to produce the initial bundle seen when the you began the project, feel free to delete this.
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #2d2d2d;
}

h1 {
  color: #7a49d3;
  font-size: 40px;
  letter-spacing: .5px;
  font-weight: 400;
}

p {
  font-size: 1.5em;
  font-weight: 400;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  padding: 50px 100px;
  box-sizing: border-box;
  .container {
    text-align: center;
    background: #fff;
    padding: 70px 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.13);
  }
}